check.repo
db.repo
db
/local/include/*
/local/lib/
/build/
/local/
/server/check.repo/
/client/exp/exp*
/client/pdf/*
/client/CMakeFiles
cmake_install.cmake
CMakeCache.txt
/server/build/
/server/py/
/client/reception/
/server/db/
/server/db
autom4te.cache/
per_user.mk
preCompute*
preCompute
LWEFile*
/boost/bin.v2/project-cache.jam
/boost/b2
/boost/bjam

*.status
*.DS_Store
*.swp
*.swn
*.swo
*.o
*.log
*~
*.cfg
server/output_deserialize_crt
server/output_deserialize_split_
server/FFFF.bin
server/output_deserialize_0
Common/allheaders.hpp.gch
client/a.out
client/b.out
client/exp/first_layer_decryption
client/test1.dump
client/configFile*
client/build/
paper/paper.bbl
paper/paper.blg
paper/paper.out
paper/paper.pdf
server/exp/exp0
server/exp/first_layer_decryption
server/out
server/reception/test1
server/test1.diff
server/test1.dump
server/touchSQ.sh
server/trial/exp/exp0
server/trial/exp/first_layer_decryption
*.lo
*.la
*.Plo
*.Po
dependencies/gmp-5.1.1/Makefile
dependencies/gmp-5.1.1/*/Makefile
dependencies/gmp-5.1.1/*/*/Makefile
dependencies/gmp-5.1.1/doc/*
dependencies/gmp-5.1.1/config.*
dependencies/gmp-5.1.1/libtool
dependencies/gmp-5.1.1/tests
dependencies/gmp-5.1.1/.libs/
dependencies/gmp-5.1.1/*/.libs/
dependencies/mpfr-3.1.2/Makefile
dependencies/mpfr-3.1.2/*/Makefile
dependencies/mpfr-3.1.2/libtool
dependencies/mpfr-3.1.2/src/.deps/*.Plo
dependencies/mpfr-3.1.2/.libs/
dependencies/mpfr-3.1.2/*/.libs/
dependencies/boost/bin.v2/libs/
dependencies/boost/tools/build/v2/engine/bootstrap/
dependencies/gmp-5.1.1/demos/calc/calc-config.h
dependencies/gmp-5.1.1/demos/pexpr-config.h
dependencies/gmp-5.1.1/fac_table.h
dependencies/gmp-5.1.1/fib_table.h
dependencies/gmp-5.1.1/gen-*
dependencies/gmp-5.1.1/gmp-mparam.h
dependencies/gmp-5.1.1/gmp.h
dependencies/gmp-5.1.1/mp_bases.h
dependencies/gmp-5.1.1/mpn/*.c
dependencies/gmp-5.1.1/mpn/*.asm
dependencies/gmp-5.1.1/mpn/*.h
dependencies/gmp-5.1.1/stamp-h1
dependencies/gmp-5.1.1/trialdivtab.h
dependencies/gmp-5.1.1/tune/sqr_basecase.c
dependencies/mpfr-3.1.2/src/mparam.h
dependencies/boost/tools/build/v2/engine/bin.linuxx86_64/bjam

